.MainPage {
  background-color: #0a1930;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #0a1930;
  padding: 10px 20px;
  display: flex;
  gap: 20px;
  justify-content: center;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar a {
  cursor: pointer;
  text-decoration: none;
  font-size: 1.1em;
  font-weight: bold;
  color: #64C0B6;
  transition: color 0.3s ease;
}

.navbar a:hover {
  color: #479691;
}
